extends layout.pug

block header
  +header-button(
    "http://github.com/HenrikSZ",
    require('../../assets/graphics/github-mark-white.svg'),
    "GitHub Logo"
  )
  +header-button(
    "http://linkedin.com/in/henrikszimmermann",
    require('../../assets/graphics/LI-In-Bug.png'),
    "LinkedIn Logo"
  )

block content
  div(class="flex lg:flex-row flex-col md:p-8")
    div(class="flex flex-3 p-2 items-stretch")
      div(class="m-auto")
        h3(class="text-[#ebc462]") Henrik S. Zimmermann
        +animated-header("Software Developer")
        h2(class="lg:pr-40")
          | I am a Computer Science student with hands-on experience ranging from
          | microcontrollers to web apps eager to learn new technologies.
    div(class="flex-2 flex justify-center items-start p-2")
      img(src=require("../../assets/graphics/me.png") class="object-contain" alt="Me")
  div(class="section-container")
    +animated-header("About Me")
    h2(class="onscroll scroll:opacity-100 -scroll:opacity-0 duration-300 scroll:top-0 -scroll:top-[80px] relative")
      | Primarily, I am a Computer Science student at the University of Toronto.
      | But beside that, I have contributed to business and security software, websites,
      | and healthcare apps. Behind the scenes, I am getting my hands dirty 
      | with hosting my own services. I also pass on my experience
      | to newcomers to the developer community as a Teaching Assistant for
      | foundational Computer Science courses. Outside of the software community,
      | I help aspiring researchers present their discoveries on a website.
  div(class="section-container")
    +animated-header("Current Jobs")
    h3(class="onscroll scroll:ml-8 duration-500") where I currently work - to dig in my past visit my 
      a(href="https://www.linkedin.com/in/henrikszimmermann" class="text-blue-400 underline" target="_blank") LinkedIn Profile
    div(class="mx-4")
      +experience(
        "Lead Web Developer",
        "iGEM Toronto",
        "June 2023 - Present",
        "Toronto",
        "The iGEM (international genetically-engineered machine) competition brings together \
        aspiring researchers around the globe. As a member of the Toronto team \
        with a background in software engineering, I build tools and the website so that \
        lab members can present their discoveries with ease.",
        link="https://igem.skule.ca"
      )
    div(class="mx-4")
      +experience(
        "Teaching Assistant",
        "MCS department, University of Toronto Mississauga",
        "September 2022 - Present",
        "Mississauga",
        "I am currently part of the teaching team for CSC148 - Introduction to Computer Science \
        helping students learn Python and understand how to design object-oriented software. \
        This includes supporting lectures, \
        answering questions on our discussion forum, \
        and grading students' course work, including the final exam."
      )
  div(class="section-container")
    +animated-header("Personal Projects")
    h3(class="onscroll scroll:ml-8 duration-500") a selection - anything else I published is on my 
      a(href="https://github.com/HenrikSZ" class="text-blue-400 underline" target="_blank") GitHub Profile
    div(class="lg:mx-4 mx-2")
      +project(
        "Personal Website",
        ["Webpack", "Pug", "TailwindCSS", "CD with GitHub Actions"],
        "https://github.com/HenrikSZ/henriksz.github.io",
        "A website that is simple and accessible, that was still missing from my portfolio. The build process \
        is straightforward and the website is automatically deployed thanks to GitHub Actions. \
        I guess this fulfills the principle of every tool having a purpose. No complex React components, Gatsby, or any \
        backend. A static site that is easy to update is all I needed for this project. Check it out."
      )
      +project(
        "NodeDynDNS",
        ["NodeJS", "JavaScript", "DNS Protocol"],
        "https://github.com/HenrikSZ/NodeDynDNS",
        "Don't ask me why I created my own dynamic DNS server. And then for Node. Anyways, I wanted a simple, \
        but secure enough solution. Well, I don't think it is good enough for your high performance and resilience needs, \
        but it was a fun project. Read more about the origin story and look at the source code."
      )
      +project(
        "BluffServer",
        ["NodeJS", "JavaScript", "SocketIO"],
        "https://github.com/HenrikSZ/BluffServer",
        "One of my earlier projects. I implemented a board game my family played a lot. \
        It works, and you can play it with your friends. There is information and a link on the GitHub page."
      )
      +project(
        "HuffmanEncoding",
        ["C", "CMake"],
        "https://github.com/HenrikSZ/HuffmanEncoding",
        "An adaptation of a course assignment. Yes, Python can be slow, as I saw first-hand when implementing \
        the Huffman compression algorithm. So, I took a weekend to write the whole thing again, this time in C. \
        Much better, 50x speedup, can't complain. Have fun browsing through the code!"
      )
      +project(
        "no-pain",
        ["C++", "Bazel", "googletest"],
        "https://github.com/HenrikSZ/no-pain",
        "Let's create our own, painfully-to-work-with scripting language! That's what two friends and I thought \
        for the deerhacks 2022 hackathon. So, we did it. Oh wonder, it was horrible to work with. So, I recreated it \
        with proper syntax. Enjoy!"
      )
