html
  head
    title HenrikSZ's personal website
    link(href=require('../styles/index.css') rel='stylesheet')
  body(class="py-2 bg-[#460e0a] text-slate-100")
  div(class="flex items-center justify-center")
    div(class="lg:mb-8 flex gap-4")
      a(href="http://github.com/HenrikSZ" class="hover:border-blue-200 hover:text-blue-200 border-b-4 lg:py-2 py-8 px-4 gap-2 lg:text-xl text-5xl flex items-center")
        div(class="flex-1") GitHub
        div(class="flex items-center")
          img(src=require("../../assets/graphics/github-mark-white.svg"), class="lg:w-6 w-12 flex-1")
      a(href="http://linkedin.com/in/henrikszimmermann" class="hover:border-blue-200 hover:text-blue-200 border-b-4 lg:py-2 py-8 px-4 gap-2 lg:text-xl text-5xl flex items-center")
        div(class="flex-1") LinkedIn
        div(class="flex items-center")
          img(src=require("../../assets/graphics/LI-In-Bug.png"), class="lg:w-6 w-12 flex-1")


  div(class="flex-none lg:flex p-8")
    div(class="flex-3 p-2")
      h3(class="ml-8 lg:text-3xl text-4xl italic font-montserrat") Henrik S. Zimmermann
      h1(class="lg:text-7xl text-8xl font-montserrat") Aspiring Software Developer on the Web and elsewhere
      p(class="p-4 lg:pr-40 lg:text-2xl text-4xl font-montserrat") I am a Computer Science student at the University of Toronto. As a former intern at Onapsis, work student for a Toronto-based startup, and curator of my own projects, I developed high-quality software for many purposes. In addition, I pass on my experience to newcomers to the developer community as a Teaching Assistant for foundational Computer Science courses at the University of Toronto Mississauga.
    div(class="flex-2 flex justify-center items-start")
      img(src=require("../../assets/graphics/me.jpeg") class="object-contain")
